.Blogintro {
    max-width: 70%;
    height: auto;
    margin: auto;
    display: block;
}

.lead-fluid {
    /* font-size: 1.25rem; */
    font-weight: 300;
    text-align: center;
    display: block;
    margin: auto;
    border-top: #ce294d4d solid 1px;
    width: 50%;
    margin-top: -20px;
    padding-top: 20px;
}

body{
    background-color: #f4fcf8;
}

.jumbotron{
    background-color: #f4fcf8;
}

#jumbo-override{
    padding: 1rem 2rem 2rem;
}

.display-4{
    font-size: 30px;
}

.jumbo-img{
    width: 100%;
    margin: auto;
    margin-bottom: 24px;
}



.col-4{
    display: block;
    text-align: right;
    padding-right: 0px;
}

.col-8{
    padding-left: 0px;
}

#blog-btn{
    background-color: #003319;
    border-radius: 0px;
    color: #f4fff7fc;
    border: none;
    width: 92%;
    padding: 10px;
}

.bg-primary {
    background-color: #dffbe1!important;
}