/* OOPSIES*/
@media (max-width: 575px) { 
    .row{
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
    }
}


/*START TEXT RELATED - INDEX*/
h1,h2,h3,h4,h5,a,li,p,ul,button,footer{
    font-family: 'Montserrat', sans-serif;
}

.h2, h2 {
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
}

.h3, h3 {
    font-size: 21px;
    padding-top: 15px;
}

h5 {
    color: #003319;
    font-weight: 400;
    font-size: 30px;
    border-bottom: #ce294d4d solid 1px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

p{
    color: #003319;
    font-weight: 300;
    font-size: 18px;
    line-height: 35px;
}

.card p{
    border-top: 1px solid #ce294d4d;
    margin-top: 10px;
}

.footer_about, .footer-return-policy p{
    width: 80%;
    margin: 30px auto;

}

.footer-return-policy p{
    font-size: 16px;
    line-height: 32px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #ce294d;
}

.product-info h5 {
    font-weight: 500;
    color: #003319;
    font-weight: 400;
    font-size: 40px;
    border-bottom: 0px;
    padding-bottom: 0px;
    margin: 40px 30px 25px;
    /* margin-bottom: 20px; */
}

.product-info h4 {
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 20px;
    border-bottom: #ce294d4d solid 1px;
    /* display: block; */
}

#prod-description{
    border-top: #ce294d4d solid 1px;
}
/*END TEXT RELATED - INDEX*/

/*START MEDIA RELATED - INDEX*/

.no-display-576{
    display: none;
}

.card img:hover{
transform: scale(1.03);
background: rgb(255,255,255);
background-image: linear-gradient(157deg, rgba(255,255,255,0.6362920168067228) 0%, rgba(255,255,255,0.8911939775910365) 55%, rgba(255,255,255,1) 100%);
} 

.col-4 img{
        vertical-align: middle;
        border-style: none;
        max-width: -webkit-fill-available;
        margin: 15px auto;
}
/*END MEDIA RELATED - INDEX*/

/*COLORSSSSSSS

#f4fff7fc MINT GREEN
#003319 PLANTICIA GREEN
#ce294d pink pop
*/

.alert-primary {
    color: #f4fff7fc;
    background-color: #003319;
    text-align: center;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
  margin-bottom: 0;
border:0px;
border-radius: 0px;
}

/*START NAVBAR*/
.nav-item{
    text-align: right;
}
.navbar {
    background: rgb(255,255,255);
background: linear-gradient(157deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 55%, rgba(255,255,255,0.65) 100%);
} 

.navbar-light .navbar-nav .nav-link {
    color: #003319;
    font-size: 20px;
    font-weight: 400;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #ce294d;
}

.active{
    color: #ce294d;
}

.btn {
    background-color: #f4fff7fc;
    border-radius: 0px;
    color: #003319;
    border: 1px #003319 solid;
}

.btn:hover {
    color: #f4fff7fc;
    background-color: #ce294d;
    border-color: #ce294d;
}

.form-inline .form-control{
    border-radius: 0px;
}


.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: #003319;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}

.icon-bar:hover{
    background-color: #ce294d;
}
 
.navbar-toggler {
  border: none;
  background: transparent !important;
}
 
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
   
  .navbar-toggler .middle-bar {
    opacity: 0;
  }
   
  .navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
   
  .navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
  }
   
  .navbar-toggler.collapsed .middle-bar {
    opacity: 1;
  }
   
  .navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
  }

  .form-control{
    width: 45%;
}

.form-inline{
    justify-content: flex-end;
}
/*END NAVBAR*/

/* START MAIN - INDEX */
main{
    margin-top: 130px;
}

.new_arrivals, .on_sale, .footer_about, .you-may-also-like{
    margin: 50px auto 20px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px;
    border-radius: 0px;
}

/* END MAIN - INDEX */


/*START MAIN - PRODUCTS*/
.product-deck{
    margin: auto;
}

.row{
    margin: auto;
    margin-bottom: 40px; 
}

.jumbotron {
    padding: 4rem 2rem;
    margin-top: 130px;
    border-radius: 0px;
}

.footer-return-policy{
    margin: 85px auto 50px;
}

/*END MAIN - PRODUCTS*/

/*START MAIN - PRODUCT PAGE*/
.btn-lg {
    padding: 1.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0px;
    width: 100%;
    background-color: #003319!important;
    color: #f4fff7fc!important;
}

#left{
    padding-left: 0px;
}
/*END MAIN - PRODUCT PAGE**/


/*START FOOTER*/
.footer {
    padding: 60px 0;
    width: 100%;
    background: #f4fff7fc;
    color: #003319;
}
.footer-title {
    position: relative;
    color: #003319;
    font-size: 21px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #4e4e4e;
}

.footer-links a{
	padding: 10px 0;
	border-bottom: 0px;
	color: #003319;
	display: block;
	transition: color 0.5s ease-in-out;
   text-decoration:none;
}
.footer-links a:hover{
	color: #ce294d;
}

.white-text{
    font-weight: 200;
}
.footer-social-links li{
	display: inline-block;
}
.footer-social-links a{
	width: 40px;
	height: 40px;
	font-size: 16px;
	float: left;
	margin-right: 10px;
	padding: 10px;
	border: 1px solid #404040;
	border-radius: 50px;
	text-align: center;
	color: #003319;
	line-height: 1;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
  background:#f4fff7fc;
}
.footer-social-links a:hover{
	background: #ce294d;
}
/* g. Footer bottom section */
.footer-bottom{
	width: 100%;
	padding: 25px 0;
	text-align: center;
	color: #f4fff7fc;
    background: #003319;
}

footer .container-fluid, footer .col-md-12{
    padding: 0px;
}
/*END FOOTER*/
.no-display-576{
    display: none!important;
}

.no-display-768{
    display: none!important;
}


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .no-display-576{
        display: none!important;
    }
    
    .no-display-768{
        display: none!important;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .no-display-576{
        display: flex!important;
    }

    .footer_about, .footer-return-policy p {
        width: 60%;
        margin: 35px auto;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 0.5rem;
    }

    .no-display-768{
        display: flex!important;
    }

    .footer_about, .footer-return-policy p {
        width: 58%;
        margin: 35px auto;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    main{
        max-width: 1200px;
        margin: auto;
    }

    nav{
        max-width: 1200px;
        margin: auto;
    }

    .footer, .footer-bottom{
        max-width: 100%;
        margin: auto;
    }
 }