
body{
    background-color: #F4D9D4;
}

a, p {
    font-family: 'Open Sans', sans-serif;
    color: #FFEDEA;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    width: 90%;
    margin: 20px auto;
}

h1,h2,h3,h4,h5{
    font-family: 'Montserrat', sans-serif;
    color: #FFEDEA;
    font-weight: 500;
}

h1 {
    font-size: 71px;
    font-weight: 900;
}

.h3, h3 {
    font-size: 1.75rem;
    width: 90%;
    line-height: 40px;
    line-break: loose;
    margin: 20px auto;
}

#our {
    padding: ;
    position: absolute;
    top: 64px;
    left: 20px;
    z-index: 10;
}

#mission {
    position: absolute;
    z-index: 10;
    /* top: 448px; */
    right: 20px;
    margin-top: -38px;
}


.navbar{
    background-color: #F4D9D4;
}
.navbar-nav {
   
    flex-direction: column;

    margin: auto;
}

#nav1 {
    display: block;
    margin: auto;
    text-align: center;
}

#nav2{
    display: none;
}

nav a {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 400;
  
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #665D5C;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #665D5C;
}

.navbar-light .navbar-nav .nav-link {
    color: #b7b7b7;
}

.jumbotron {
    padding: 7rem 0rem;
    background-color: #e9ecef00;
}

.carousel-inner {
    position: relative;
    width: 100%;
    max-height: 700px;
    overflow: hidden;
    background-position-y: center;
}

.mission-box {
    min-height: 1050px;
    background-color: #CE796B;
    margin: auto;
    position: absolute;
    z-index: -2;
    left: 0;
    top: auto;
    margin-top: -40px;
}

.mission-p{
    float: left;
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) {
    .jumbotron {
        padding: 10rem;
        background-color: #e9ecef00;
    }

    #our {
        padding: ;
        position: absolute;
        top: 105px;
        left: 129px;
        z-index: 10;
    }
    
    h1 {
        font-size: 80px;
        font-weight: 900;
    }

    #mission {
        position: absolute;
        z-index: 10;
        /* top: 448px; */
        right: 126px;
        margin-top: -38px;
    }
/* Styles */
}


/* iPads (landscape) ----------- */
@media only screen 
and (min-width : 995px){
/* Styles */

h1 {
    font-size: 121px;
    font-weight: 900;
}

.navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
    text-align: center;
    margin: auto;
}

.navbar-brand{
    margin-left: 1rem;
}

#nav1{
    display: none;
}

#nav2{
    display: flex;
}


nav img {
    vertical-align: middle;
    border-style: none;
    text-align: center;
    margin: -20px auto 0;
}

.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    max-height: 85px;
}

.nav-item{
    padding: 0 20px;
    margin: 35px 40px;
}

.jumbotron {
    padding: 14rem;
}

.carousel-caption {
    position: relative;
    margin: auto;
    top: 150px;
    left: 0px;
    background-color: #e2c2c661;
    padding-top: 60px;
}

.carousel-inner{
    overflow: overlay;

}

#our {
    padding: ;
    position: absolute;
    top: 143px;
    left: 177px;
    z-index: 10;
}

#mission {
    position: absolute;
    z-index: 10;
    /* top: 735px; */
    right: 167px;
    margin-top:-65px;
}


}


/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1370px) {
/* Styles */
#mission {
    position: absolute;
    z-index: 10;
    /* top: 843px; */
    right: 271px;
    margin-top:-100px;
}

#our {
    padding: ;
    position: absolute;
    top: 240px;
    left: 281px;
    z-index: 10;
}

h1 {
    font-size: 169px;
    font-weight: 900;
}

.jumbotron {
    padding: 22rem;
}

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}



