
body{
    background-color: #F4D9D4;
}

.spacer{
    min-height: 100px;
}

.mobtext {
    display: block;
    text-align: left;
    width: 95%;
    margin-left: 63%;
    padding-right: -44px;
}



.desktext{
    display: none;
}

a, p {
    font-family: 'Open Sans', sans-serif;
    color: #FFEDEA;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    width: 90%;
    margin: 20px auto;
}

h1,h2,h3,h4,h5{
    font-family: 'Montserrat', sans-serif;
    color: #FFEDEA;
    font-weight: 500;
}

h1 {
    font-size: 71px;
    font-weight: 900;
}

.h3, h3 {
    font-size: 1.75rem;
    width: 90%;
    line-height: 40px;
    line-break: loose;
    margin: 20px auto;
}

#our {
    padding: ;
    position: absolute;
    top: 42px;
    left: 20px;
    z-index: 10;
}

#mission {
    position: absolute;
    z-index: 10;
    /* top: 448px; */
    right: 20px;
    margin-top: -38px;
}


.navbar{
    background-color: #F4D9D4;
}
.navbar-nav {
   
    flex-direction: column;

    margin: auto;
}

#nav1 {
    display: block;
    margin: auto;
    text-align: center;
}

#nav2{
    display: none;
}

nav a {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 400;
  
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #665D5C;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #665D5C;
}

.navbar-light .navbar-nav .nav-link {
    color: #b7b7b7;
}

.jumbotron {
    padding: 5rem 0rem;
    background-color: #e9ecef00;
}

.carousel-inner {
    position: relative;
    width: 100%;
    max-height: 700px;
    overflow: hidden;
    background-position-y: center;
}

.mission-box {
    padding: 80px 0px;
    background-color: #CE796B;
    margin: auto;
    position: relative;
    display: flex;
    z-index: -2;
    left: 0;
    top: auto;
    margin-top: -40px;
    max-width: 100%;
}

#adv-box {
    padding: 80px 0px;
    background-color: #B7B7B7;
    margin: auto;
    position: relative;
    display: flex;
    z-index: -1;
    height: 350px;
    left: 0;
    top: auto;
    margin-top: 100px;
    max-width: 90%;
}

#phone {
    height: 500px;
    width: auto;
    float: right;
    display: flex;
    position: absolute;
    flex-direction: column;
    right: -6%;
    top: 50%;
    transform: translateY(-50%);
}

.mission-p{
    float: left;
}

#sidenote{
    font-family: 'Open Sans', sans-serif;
    color: #FFEDEA;
    font-weight: 300;
    width: 90%;
    margin: 20px auto;
    font-style: italic;
    font-size: 14px
}

.blog-titleimg {
    background-image: url(https://i.pinimg.com/564x/81/22/2c/81222c8439c64e7629afe9230574e4e4.jpg);
    min-height: 350px;
    width: 100%;
    background-position-y: center;
    position: relative;
    /* margin: auto; */
    top: 0px;
    background-repeat: no-repeat;
    background-size: cover;
}



#latest {
    position: relative;
    top: 32px;
    z-index: 10;
    left: 6px;
    font-size: 45px;
}

#posts {
    position: relative;
    z-index: 10;
    text-align: end;
    margin-right: 20px;
    bottom: 21px;
    font-size: 45px;
    /* text-align: right; */
}


@media only screen and (min-width : 535px){
    .mobtext {
        display: block;
        text-align: left;
        width: 95%;
        margin-left: 5%;
        font-size: 46px;
        padding-right: -44px;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) {

    .mobtext{
        display: none;
    }

    .desktext{
        display: block;
    }

    #adv-box {
        padding: 80px 0px;
        background-color: #B7B7B7;
        margin: auto;
        position: relative;
        display: flex;
        z-index: -1;
        height: 350px;
        left: 0;
        top: auto;
        margin-top: 240px;
        max-width: 80%;
    }
    
    #phone {
        height: 500px;
        width: auto;
        float: right;
        display: flex;
        position: absolute;
        flex-direction: column;
        right: -6%;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .mission-p{
        float: left;
    }
    
    #sidenote{
        font-family: 'Open Sans', sans-serif;
        color: #FFEDEA;
        font-weight: 300;
        width: 90%;
        margin: 20px auto;
        font-style: italic;
        font-size: 14px
    }

    .jumbotron {
        padding: 10rem;
        background-color: #e9ecef00;
    }

    .blog-titleimg {
        background-image: url(https://i.pinimg.com/564x/81/22/2c/81222c8439c64e7629afe9230574e4e4.jpg);
        min-height: 420px;
        width: 90%;
        background-position-y: center;
        position: relative;
        margin: auto;
        top: 0px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #our {
        padding: ;
        position: absolute;
        top: 105px;
        left: 129px;
        z-index: 10;
    }
    
    h1 {
        font-size: 80px;
        font-weight: 900;
    }

    #mission {
        position: absolute;
        z-index: 10;
        /* top: 448px; */
        right: 126px;
        margin-top: -38px;
    }


    .h3, h3 {
        font-size: 45px;
        /* line-height: 60px; */
        width: 75%;
        line-height: 40px;
        /* line-break: loose; */
        margin: 65px auto;
        line-height: 65px;
    }

   p {
        font-family: 'Open Sans', sans-serif;
        color: #FFEDEA;
        font-weight: 300;
        font-size: 25px;
        line-height: 45px;
        width: 75%;
        margin: 30px auto;
    }

    #sidenote{
        font-family: 'Open Sans', sans-serif;
    color: #FFEDEA;
    font-weight: 300;
    width: 75%;
    margin: 30px auto;
        font-style: italic;
        font-size: 18px
    }

    .mission-box {
        padding:80px 0px;
        background-color: #CE796B;
        margin: auto;
        /* position: absolute; */
        z-index: -2;
    }

    .h2, h2 {
        font-size: 4rem;
        font-weight: 900;
        width: 50%;
        margin-left: 4%;
        margin-top: -2%;
        tranform: translatey(-50%);
    }
    
    #h2{
        font-size: 63px;
    }

    #latest {
        position: relative;
        top: 48px;
        z-index: 10;
        left: -20px;
        font-size: 65px;
    }

    #posts {
        position: relative;
        display: inline-block;
        flex-direction: unset;
        z-index: 10;
        text-align: right;
        right: -216px;
        bottom: 30px;
        font-size: 65px;
        /* text-align: right; */
    }
/* Styles */
}


/* iPads (landscape) ----------- */
@media only screen 
and (min-width : 995px){
/* Styles */

h1 {
    font-size: 121px;
    font-weight: 900;
}

.h3, h3{
    width: 65%;
}

.h2, h2 {
    font-size: 4rem;
    font-weight: 900;
    width: 50%;
    margin-left: 4%;
    margin-top: -2%;
    tranform: translatey(-50%);
}

#h2{
    font-size: 63px;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #FFEDEA;
    font-weight: 300;
    font-size: 20px;
    line-height: 55px;
    width: 65%;
    margin: 30px auto;
}

#sidenote {
    font-family: 'Open Sans', sans-serif;
    color: #FFEDEA;
    font-weight: 300;
    width: 65%;
    margin: 60px auto;
    font-style: italic;
    font-size: 14px;
}

.navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
    text-align: center;
    margin: auto;
}

.navbar-brand{
    margin-left: 1rem;
}

#nav1{
    display: none;
}

#nav2{
    display: flex;
}


nav img {
    vertical-align: middle;
    border-style: none;
    text-align: center;
    margin: -20px auto 0;
}

.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    max-height: 85px;
}

.nav-item{
    padding: 0 20px;
    margin: 35px 40px;
}

.jumbotron {
    padding: 14rem;
}

.carousel-caption {
    position: relative;
    margin: auto;
    top: 150px;
    left: 0px;
    background-color: #e2c2c661;
    padding-top: 60px;
}

.carousel-inner{
    overflow: overlay;

}

#our {
    padding: ;
    position: absolute;
    top: 143px;
    left: 177px;
    z-index: 10;
}

#mission {
    position: absolute;
    z-index: 10;
    /* top: 735px; */
    right: 167px;
    margin-top:-65px;
}


}


/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1370px) {
/* Styles */
#mission {
    position: absolute;
    z-index: 10;
    /* top: 843px; */
    right: 271px;
    margin-top:-100px;
}

#our {
    padding: ;
    position: absolute;
    top: 240px;
    left: 281px;
    z-index: 10;
}

h1 {
    font-size: 169px;
    font-weight: 900;
}

.jumbotron {
    padding: 22rem;
}

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}



